[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = this a repo to test gerrithub
[access "refs/*"]
	owner = group user/jeffz37
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jeffz37
	label-Verified = -1..+1 group user/jeffz37
	push = group user/jeffz37
	read = group user/jeffz37
	rebase = group user/jeffz37
	removeReviewer = group user/jeffz37
	submit = group user/jeffz37
[access "refs/heads/*"]
	create = group user/jeffz37
	push = +force group user/jeffz37
	pushMerge = group user/jeffz37
	read = group user/jeffz37
[access "refs/tags/*"]
	push = group user/jeffz37
	push = +force group user/jeffz37
